body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    color: white;
    background-color: darkblue;
    font-size: 30px;
    padding: 7px;
    display: flex;
    justify-content: center;
}

.dashboard {
    display: flex;
}

.search {
    border-bottom: solid 3px grey;
}

.selected-city {
    margin-left: 10px;
}

.cards {
    display: flex;
}